<mat-drawer-container class="BodySite">
  <mat-drawer #drawer mode="over" opened="">
    <div class="row barraLateral">
      <img class="iconSite" src="../assets/img/icone.png" alt="icone do site">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">link1;</li>
        <li class="list-group-item">Rlink2</li>
        <li class="list-group-item">link3</li>
      </ul>
    </div>
  

  </mat-drawer>
  <mat-drawer-content>
    <div class="nav">
      <img src="../assets/img/logo.png" alt="Logo Academia Taekwondo Family">
      <button mat-fab color="primary"   (click)="drawer.toggle()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon></button>
    </div>
    <div class="corpoSite">
      <div  class="imagemPrincipal img-fluid ">
        <h1 class="textPricipal">Taekwondo Family</h1>
    </div>
      <div class="row ">
      <div class="col-lg-1 col-sm-12"></div>
      <div class="col-lg-9 col-sm-12 historia">
            <h3>Nossa história</h3>
           
            <p>Nossa família está no mercado há mais de 20 anos, meus familiares imigraram para Santos vindo da Córea do Sul nos meados do anos 80.</p>
            <p>Meu pai iniciou a jornada aqui trabalhando como peixeiro, porém nunca abandonou as suas raizes e praticava Taekwondo todos os dias!</p>
            <p>Minha mãe do lar acompanhava meu pai nos treinos, ambos faixa preta em Taekwondo mantinham uma rotina saudavél todos os dias! </p>
            <p>Conforme os anos se passaram os amigos incentivaram os meus pais a abrir um Dojo e ensinar o caminho do Taekwondo para um maior número de pessoas.</p>
            <p>Eles aceitaram o desafio dos amigos e hoje a nossa academia conta com mais de 10 mil alunos que já estiveram com a gente e com outras artes marciais além do Taekwondo. </p></div>
      
      <div class="col-lg col-sm-12"></div>
    </div>
    <div class="row ">
      <div class="col-lg-1 col-sm-12"></div>
      <div class="col-lg-9 col-sm-12 historia">
            <br><h3>Sobre Taekwondo</h3>
           
            <p>O Taekwondo é uma arte marcial desenvolvido pelos militares Coreanos, é conhecida como <q><i>a arte dos homens voadores</i></q>. </p>
            <p>A palavra taekwondo é formada por três termos: tae (pés), kwon (mãos) e do (caminho espiritual). Dessa forma, essa arte marcial significa “caminho dos pés e mãos através da mente”, sendo uma prática que exige disciplina e autocontrole dos participantes.</p>
            <p>Como toda a arte marcial o Taekwondo tem príncipíos e fundamentos valores, além de ser uma modalidade olimpíca</p>
            <h2>Principios do Taekwondo</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Observar as regras do Taekwondo;</li>
              <li class="list-group-item">Respeitar mestres e meus superiores</li>
              <li class="list-group-item">Nunca fazer mal uso do Taekwondo</li>
              <li class="list-group-item">Ser campeão da liberdade e justiça</li>
              <li class="list-group-item">Construir um mundo mais pacífico</li>
            </ul>
            
      </div>
      
      <div class="col-lg col-sm-12"></div>
    </div>
    <div class="row ">
      <div class="col-lg-1 col-sm-12"></div>
      <div class="col-lg-9 col-sm-12 historia">
           <h3>Nossos Instrutores</h3>
           <p>Nossos instrutores estão são no minimo 2º dan e formados em educação fisica.</p>
          
           <ngb-carousel >
            <ng-template ngbSlide >
              <div class="picsum-img-wrapper">
                <img class="img-fluid" src="../assets/img/instrutora.jpg" alt="Random first slide" />
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="img-fluid" src="../assets/img/instrutores.jpg" alt="Random second slide" />
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="img-fluid" src="../assets/img/instrutores2.jpg" alt="Random third slide" />
              </div>
            </ng-template>
          </ngb-carousel>
      </div>
      <div class="row ">
        <div class="col-lg-1 col-sm-12"></div>
        <div class="col-lg-9 col-sm-12 historia">
             <h3>Muito Além do taekwondo</h3>
            <p>Hoje a nossa academia conta com outras modalidades como:</p> 

            <div class="row">
              <div class="col-sm-12 col-lg-4">
                <div class="card">
                  <div class="card-header">
                   <h3> Boxe</h3>
                  </div>
                  <div class="card-body">
                    <img class="img-fluid rounded mx-auto d-block imgModalidade" src="../assets/img/boxe.jpg" alt="Random first slide" />

                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-4">
                <div class="card">
                  <div class="card-header">
                   <h3> Jiu Jitsu</h3>
                  </div>
                  <div class="card-body">
                    <img class="img-fluid rounded mx-auto d-block imgModalidade" src="../assets/img/jiu.jpg" alt="Random second slide" />
  
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-4">
                <div class="card">
                  <div class="card-header">
                   <h3> Muay Thay</h3>
                  </div>
                  <div class="card-body">
                    <img class="img-fluid rounded mx-auto d-block imgModalidade" src="../assets/img/muaythai.jpg" alt="Random third slide" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg">
                <div class="card">
                  <div class="card-header">
                 <h3> Kick Boxe</h3>
                 </div>
                 <div class="card-body">
                   <img class="img-fluid rounded mx-auto d-block imgModalidade" src="../assets/img/kickboxe.jpg" alt="Random first slide" />
                 </div>
               </div>
             
              </div>
              <div class="col-sm-12 col-lg"> <div class="card">
                <div class="card-header">
                 <h3> Karate</h3>
                </div>
                <div class="card-body">
                  <img class="img-fluid rounded mx-auto d-block imgModalidade" src="../assets/img/karate.jpg" alt="Random first slide" />
  
                </div>
              </div>
            </div>
            </div>
           
            

        
   
        </div>
            
        <div class="col-lg col-sm-12"></div>
      </div>
      <div class="row ">
        <div class="col-lg-1 col-sm-12"></div>
        <div class="col-lg-9 col-sm-12 historia">
             <h3>Nossa grade de horarios</h3>
            <p>Confira nossa grade horários:</p> 
           
            <div class="table-responsive-sm">
            <table mat-table [dataSource]="dataSource" class="table ">
            
              <ng-container matColumnDef="horario">
                <th mat-header-cell *matHeaderCellDef>Horario </th>
                <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
              </ng-container>
            
              <ng-container matColumnDef="seg">
                <th mat-header-cell *matHeaderCellDef> Segunda </th>
                <td mat-cell *matCellDef="let element"> {{element.seg}} </td>
              </ng-container>
            
              <ng-container matColumnDef="ter">
                <th mat-header-cell *matHeaderCellDef> Terça </th>
                <td mat-cell *matCellDef="let element"> {{element.ter}} </td>
              </ng-container>
            
              <ng-container matColumnDef="qua">
                <th mat-header-cell *matHeaderCellDef> Quarta </th>
                <td mat-cell *matCellDef="let element"> {{element.qua}} </td>
              </ng-container>

              <ng-container matColumnDef="qui">
                <th mat-header-cell *matHeaderCellDef> Quinta </th>
                <td mat-cell *matCellDef="let element"> {{element.qui}} </td>
              </ng-container>

              <ng-container matColumnDef="sex">
                <th mat-header-cell *matHeaderCellDef> Sexta </th>
                <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
              
            </table>
            
          </div>
          
            </div>
            
        <div class="col-lg col-sm-12"></div>
      </div>
      <div class="row contato">
        <div class="col-lg-12 col-sm-12 formulario">
            <h3>Contato</h3>
            <div class="icones">
                <a href="https://www.instagram.com/eliceiaaraujo.adv/" target="_blank" rel="_blank"><img src="../assets/img/instagram-icon.png" alt="Instagram Eliceia Araujo Advocacia" ></a>
                <a href="mailto:contato@eliceiaaraujo.adv.br" target="_blank"><img src="../assets/img/Email-Logo.png" alt="Email Eliceia Araujo Advocacia"></a>
               <!-- <a href="https://api.whatsapp.com/send?phone=5513982010809&text=Oi%20preciso%20de%20ajuda" target="_blank"><img src="../assets/img/whats.png" alt="whatsapp Eliceia Araujo Advocacia"></a>-->
    
            </div>
            <form  action="https://formsubmit.co/wiliansaugusto@gmail.com" method="POST">
                <div class="formulario" >
                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input required matInput name="name" type="text" formControlName="name" >
                </mat-form-field>
            
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input required matInput name="email" type="email" formControlName="email" >
                </mat-form-field>
               
                <mat-form-field appearance="fill">
                    <mat-label>Mensagem</mat-label>
                    <textarea formControlName="mensagem" name="mensagem" matInput></textarea>
                </mat-form-field>
                <input type="hidden" name="_subject" value="Contato recebido pelo site">
                <input type="hidden" name="_next" value="http://localhost:4200">
                <input type="hidden" name="_captcha" value="false">
                <button  type="submit" (click)="submit()"class="btn btn-primary  btn-block">Enviar</button>
                </div>
            </form> 
        </div>
    </div>
    <div class="row ">
      <div class="col-lg-1 col-sm-12"></div>
      <div class="col-lg-9 col-sm-12 historia">
            <br><h3>Clientes</h3>
           
            <ngb-carousel class="carroselModalidades mx-auto d-block carousel carousel-fade " [showNavigationIndicators]="showNavigationIndicators">
              <ng-template ngbSlide >
                <div class="picsum-img-wrapper">
                  <img class="img-fluid rounded mx-auto d-block" src="../assets/img/instrutoresCasal.jpg" alt="Random first slide" />
                </div>
                <div class="carousel-caption mx-auto d-block">
                  <h3>Casal Taekwondo</h3>
                  <p>Nós conhecemos nas aulas e estamos juntos há mais de 10 anos</p>
                </div>
              </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-fluid rounded mx-auto d-block" src="../assets/img/GarotaChutando.jpg" alt="Random third slide" />
                </div>
                 <div class="carousel-caption">
                  <h3>Timida e Insegura</h3>
                  <p>O taekwondo me ajudou a ser uma pessoa mais confiante</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img class="img-fluid rounded mx-auto d-block" src="../assets/img/garotaChutando2.jpg" alt="Random third slide" />
                </div>
                <div class="carousel-caption">
                <h3>Qualidade de vida</h3>
                  <p>Eu era sedentária e minha vida mudou depois do taekwondo.</p>
                </div>
              </ng-template>
            </ngb-carousel>
      </div>
      
      <div class="col-lg col-sm-12"></div>
    </div>
    <div class="alerta">
      <h2>SITE SOMENTE PARA USO ILUSTRATIVOS</h2>
    </div>
      <footer>
       <p>Desenvolvido por <a href="sites.achei.digital" target="_blank">Achei Digital</a> - 2023</p> 
      </footer>
      <div class="col-lg col-sm-12"></div>
    </div>
  </div>

  </mat-drawer-content>
</mat-drawer-container>
